@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
body{
    margin: 0;
    font-weight: 600;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: "Merienda", cursive; */
}
.drink{
margin: 1rem;
text-align: center;
color:  black;
font-size: 60px;
/* color: rgb(255, 0, 0);
text-shadow: 2px 2px 5px rgb(255, 238, 0); */
}